@import '../../../styles.scss';

.paper {
  display: flex;
  flex-direction: column;
  justify-items: center;

  background-color: $cream;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid $light-grey;
  margin-bottom: 20px;

  padding: 1.5rem 2.5rem;

  &-header {
    display: flex;
    align-items: center;

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($coffee-brown, 0.82);
      color: $white;
      font-weight: 500;
      width: auto;
      padding: 0.4rem 1rem;

      &:hover {
        background-color: darken($dark-grey, 10%);
        color: $white;
        transform: scale(1.05);
      }
    }

    &-center {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      color: $coffee-brown;
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 10px;

      .material-icons {
        font-size: 2.8rem;
      }
    }
  }

  .divider {
    height: 2.5px;
    background-color: rgba($coffee-brown, 0.5);
    margin: 0.5rem 0;
    border-radius: 2px;
  }

  &-content {
    color: $dark-grey;
    font-size: 1rem;
  }
}