<div class="paper">
  <div class="paper-header" [ngStyle]="{
      justifyContent: paperHeaderIsCenter()
    }">
    <button *ngIf="leftTitle || leftMaterialIcon" class="paper-header-left" (click)="headerLeftOnClick()">
      <span class="material-icons">{{leftMaterialIcon}}</span>
      <span>{{leftTitle}}</span>
    </button>
    <div *ngIf="centerTitle || centerMaterialIcon" class="paper-header-center">
      <span class="material-icons">{{centerMaterialIcon}}</span>
      <span>{{centerTitle}}</span>
    </div>
    <div></div>
  </div>

  <div class="divider"></div>
  <ng-content></ng-content>
</div>