<div class="screen">
  <div class="content">
    <nav class="menu">
      <span class="menu-title">
        <i class="bi bi-menu-button-wide"></i>
        <span>Menu</span>
      </span>
      <div class="menu-item">
        <i class="bi bi-box"></i>
        <span>Produtos</span>
      </div>
      <div class="menu-item">
        <i class="bi bi-bounding-box-circles"></i>
        <span>Categorias de Produtos</span>
      </div>
      <div class="menu-item">
        <i class="bi bi-people"></i>
        <span>Pessoas</span>
      </div>
      <div class="menu-item">
        <i class="bi bi-arrow-bar-left"></i>
        <span>Sair</span>
      </div>
    </nav>

    <router-outlet></router-outlet>
  </div>
</div>