@import '../../../styles.scss';


.menu-right {
  position: relative;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    cursor: pointer;

    transition: 500ms;

    &:hover {
      transform: scale(1.05);
    }

    .image-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid $dark-grey;
      border-radius: 50%;

      img {
        opacity: 75%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      }
    }

    .employee-name {
      color: $light-beige;
      font-weight: 500;
      font-size: .95rem;
    }

    .employee-role {
      font-style: italic;
      font-weight: 300;
      font-size: .77rem;
      color: $white;
    }
  }

  .menu-list {
    z-index: 1000;
    position: absolute;
    top: 100px;
    right: -25px;
  }
}