<paper centerTitle="{{ form.isUpdate ? 'Atualizar produto' : 'Novo produto' }}" centerMaterialIcon="inventory_2">
  <form #f="ngForm" (submit)="onSubmit(f)">
    <div class="group-form">
      <label>Nome</label>
      <input #name="ngModel" [(ngModel)]="form.data.name" required minlength="2" maxlength="50" type="text"
        placeholder="Pão francês..." id="name" name="name">
      <ul *ngIf="!name.valid && name.touched" class="alert error">
        <li>Campo nome inválido</li>
        <li>Mínimo de 2 caracteres.</li>
        <li>Máximo de 50 caracteres.</li>
      </ul>
    </div>

    <div class="group-form">
      <label>Descrição</label>
      <textarea #description="ngModel" [(ngModel)]="form.data.description" required minlength="10" maxlength="500"
        placeholder="Pão feito de farinha..." id="description" name="description"></textarea>
      <ul *ngIf="!description.valid && description.touched" class="alert error">
        <li>Campo descrição inválido</li>
        <li>Mínimo de 10 caracteres.</li>
        <li>Máximo de 500 caracteres.</li>
      </ul>
    </div>

    <div class="group-form">
      <label>Unidade de medida</label>
      <select id="category" name="category" #units="ngModel" required [(ngModel)]="form.data.unitId">
        <option *ngFor="let unit of form.units" value="{{ unit.id }}">{{ unit.name }}</option>
      </select>
    </div>

    <div class="group-form">
      <label>Estoque</label>
      <input type="number" #stock="ngModel" [(ngModel)]="form.data.stock" required min="1" max="10000" id="stock"
        name="stock">
      <ul *ngIf="!stock.valid && stock.touched" class="alert error">
        <li>Campo Estoque inválido</li>
        <li>Mínimo de 1.</li>
        <li>Máximo de 500.</li>
      </ul>
    </div>

    <div class="group-form">
      <label>Categoria</label>
      <select id="category" name="category" #category="ngModel" required [(ngModel)]="form.data.categoryId">
        <option *ngFor="let category of form.categories" value="{{ category.id }}">{{ category.name }}
        </option>
      </select>
    </div>

    <ul *ngIf="form.messages.errors.length > 0" class="alert error">
      <li *ngFor="let msg of form.messages.errors">
        {{ msg }}
      </li>
    </ul>
    <ul *ngIf="form.messages.info.length > 0" class="alert success">
      <li *ngFor="let msg of form.messages.info">
        {{ msg }}
      </li>
    </ul>


    <div class="group-form buttons">
      <button type="submit" [disabled]="f.invalid || form.isLoading">
        <span class="material-icons">{{form.isUpdate ? 'edit' : 'save'}}</span>
        <span>{{form.isUpdate ? 'Atualizar' : 'Salvar'}}</span>
      </button>
      <button type="button" class="back" (click)="goToStockList()">
        <span class="material-icons">arrow_back</span>
        <span>Voltar</span>
      </button>


    </div>
  </form>
</paper>