<paper (headerLeftClick)="goToCommandList()" leftTitle="Voltar" leftMaterialIcon="arrow_back"
  centerTitle="Produtos da comanda" centerMaterialIcon="format_list_numbered">

  <div class="command-info">
    <div class="fields">
      <div class="form-group">
        <label>Nome do cliente</label>
        <input disabled class="disabled" [value]="list.command.clientName">
      </div>
      <div class="form-group">
        <label>Mesa</label>
        <input disabled class="disabled" [value]="list.command.diningTable.name">
      </div>
    </div>
    <div class="buttons">
      <div class="form-group" (click)="goToCloseCommand()">
        <button>Fechar</button>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="header-list">
    <div class="search">
      <input [(ngModel)]="list.filters.searchInput" id="searchInput" name="searchInput" type="text" class="search-input"
        placeholder="Nome do produto..." (keyup.enter)="findAllProductsByCommand()">
      <button class="search-button" (click)="findAllProductsByCommand()">
        <span class="material-icons">search</span>
        <span>Procurar</span>
      </button>
      <button class="button-add" (click)="goToSelectProduct()">
        <span class="material-icons">add</span>
        <span>Produto</span>
      </button>
    </div>
  </div>

  <div class="messages" *ngIf="list.messages.errors.length > 0 || list.messages.info.length > 0">
    <ul *ngIf="list.messages.errors.length > 0" class="alert error">
      <li *ngFor="let msg of list.messages.errors">{{ msg }}</li>
    </ul>
    <ul *ngIf="list.messages.info.length > 0" class="alert info">
      <li *ngFor="let msg of list.messages.info">{{ msg }}</li>
    </ul>
  </div>

  <div *ngIf="list.isLoading" class="is-loading">
    <span>Carregando os produtos. Aguarde...</span>
  </div>

  <table *ngIf="!list.isLoading">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome do produto</th>
        <th>Quantidade</th>
        <th>Preço (R$)</th>
        <th>Aberta em</th>
        <th>Cancelada em</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commandItem of list.data.content">
        <td>{{ commandItem.id }} </td>
        <td>{{ commandItem.product.name }} </td>
        <td>{{ commandItem.quantity }} </td>
        <td>{{ commandItem.price | currency }} </td>
        <td>{{ commandItem.createdAt | date }} </td>
        <td>{{ commandItem.canceledIn ? (commandItem.canceledIn | date ) : '-' }} </td>
        <td>
          <div class="action-buttons">
            <button (click)="removeProduct(list.command.id, commandItem.product.id)">
              <span class="material-icons">remove_circle_outline</span>
              <span>Remover</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ul *ngIf="showPages()" class="pagination">
    <li (click)="previousPage()">
      <button class="previous" [disabled]="list.data.page === 0">
        <span class="material-icons">skip_previous</span>
        <span>Anterior</span>
      </button>
    </li>
    <li class="pages" *ngFor="let index of getPageCountItems()" (click)="goPage(index)" [ngClass]="{
        'pagination-actual-style': isActualPage(index)
       }">
      {{ index + 1 }}
    </li>
    <li (click)="nextPage()">
      <button class="next" [disabled]="list.data.page === list.data.totalPages - 1">
        <span>Próximo</span>
        <span class="material-icons">skip_next</span>
      </button>
    </li>
  </ul>
</paper>