<div class="screen">
  <paper title="Estoque" materialIconsTitle="inventory_2">
    <div class="header">
      <div class="search">
        <input class="search-input">
        <button class="search-button">
          <span class="material-icons">search</span>
          <span>Procurar</span>
        </button>
      </div>
      <button class="header-button-add">
        <span class="material-icons">add</span>
        <span>Adicionar</span>
      </button>
    </div>

    <table>
      <thead></thead>
      <tbody></tbody>
      <tfoot></tfoot>
    </table>
  </paper>
</div>