<paper (headerLeftClick)="goToHome()" leftTitle="Voltar" leftMaterialIcon="arrow_back" centerTitle="Estoque"
  centerMaterialIcon="inventory_2">

  <confirm [isShow]="isShowConfirmDelete" [cancelTitle]="'Cancelar'" [confirmTitle]="'Confirmar'"
    (onConfirm)="deleteProductSelected()" (onCancel)="toggleIsShowConfirmDelete()"></confirm>

  <div class="header">
    <div class="search">
      <input [(ngModel)]="list.searchInput" id="searchInput" name="searchInput" type="text" class="search-input"
        placeholder="Nome do produto..." (keyup.enter)="searchByInputQuery()">
      <button class="search-button" (click)="findAllProducts()">
        <span class="material-icons">search</span>
        <span>Procurar</span>
      </button>
    </div>
    <button class="header-button-add" (click)="goToStockForm()">
      <span class="material-icons">add</span>
      <span>Adicionar</span>
    </button>
  </div>

  <div class="messages">
    <ul *ngIf="list.messages.errors.length > 0" class="alert error">
      <li *ngFor="let msg of list.messages.errors">{{ msg }}</li>
    </ul>
    <ul *ngIf="list.messages.info.length > 0" class="alert info">
      <li *ngFor="let msg of list.messages.info">{{ msg }}</li>
    </ul>
  </div>

  <div *ngIf="list.isLoading" class="isLoading">
    <span>Carregando os produtos. Aguarde...</span>
  </div>

  <table *ngIf="!list.isLoading">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Unidade</th>
        <th>Categoria</th>
        <th>Criado em</th>
        <th>Atualizado em</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of list.data.content">
        <td>{{ product.id }} </td>
        <td class="text-limit">{{ product.name }} </td>
        <td class="text-limit">{{ product.description }} </td>
        <td>{{ findUnitNameById(product.unitId) }} </td>
        <td>{{ findCategoryNameById(product.categoryId) }} </td>
        <td>{{ product.createdAt | date }} </td>
        <td>{{ product.updatedAt ? (product.updatedAt | date) : '-' }} </td>
        <td>
          <div class="action-buttons">
            <button (click)="goToUpdateProduct(product.id)">
              <span class="material-icons">edit</span>
            </button>
            <button (click)="openModalToDelete(product)">
              <span class="material-icons">delete</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ul *ngIf="showPages() && !list.isLoading" class="pagination">
    <li (click)="previousPage()">
      <button class="previous" [disabled]="list.data.page === 0">
        <span class="material-icons">skip_previous</span>
        <span>Anterior</span>
      </button>
    </li>
    <li class="pages" *ngFor="let index of getPageCountItems()" (click)="goPage(index)" [ngClass]="{
        'pagination-actual-style': isActualPage(index)
       }">
      {{ index + 1 }}
    </li>
    <li (click)="nextPage()">
      <button class="next" [disabled]="list.data.page === list.data.totalPages - 1">
        <span>Próximo</span>
        <span class="material-icons">skip_next</span>
      </button>
    </li>
  </ul>
</paper>