@import '../../../styles.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background-color: $black;
  height: $height-header;
  position: relative;

  .title {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    .icon {
      color: $coffee-brown;
      font-size: 4.5rem;
      position: absolute;
      left: 70px;
      top: 20px;
    }

    span {
      font-weight: bold;
      font-size: 1.9rem;
      color: $white;
      height: 100%;

      width: 200px;
      position: absolute;
      left: 100px;
      top: 35px;
    }
  }
}