<nav class="menu">
  <span class="menu-title">
    <span class="material-icons-outlined">menu</span>
    <span>Menu</span>
  </span>
  <div class="menu-item">
    <span class="material-icons-outlined">table_restaurant</span>
    <span>Estoque</span>
  </div>
  <div class="menu-item">
    <span class="material-icons-outlined">people_outline</span>
    <span>Funcionários</span>
  </div>
  <div class="menu-item">
    <span class="material-icons-outlined">table_restaurant</span>
    <span>Mesas</span>
  </div>
  <div class="divisor"></div>
  <div class="menu-item">
    <span class="material-icons-outlined">exit_to_app</span>
    <span>Sair</span>
  </div>
</nav>