<div class="options">
  <a routerLink="/command/form">
    <div class="options-item">
      <span class="material-icons icon">playlist_add</span>
      <span>Nova comanda</span>
    </div>
  </a>
  <a routerLink="/command/list">
    <div class="options-item">
      <span class="material-icons icon">format_list_numbered</span>
      <span>Comandas</span>
    </div>
  </a>
  <a>
    <div class="options-item">
      <span class="material-icons icon">show_chart</span>
      <span>Relatórios</span>
    </div>
  </a>
</div>