<div class="options">
  <a routerLink="/command-form">
    <div class="options-item">
      <span class="material-icons icon">playlist_add</span>
      <span>Abrir comanda</span>
    </div>
  </a>
  <a routerLink="/command-list">
    <div class="options-item">
      <span class="material-icons icon">format_list_numbered</span>
      <span>Comandas abertas</span>
    </div>
  </a>
  <a>
    <div class="options-item">
      <span class="material-icons icon">playlist_add_check</span>
      <span>Fechar comanda</span>
    </div>
  </a>
  <a>
    <div class="options-item">
      <span class="material-icons icon">show_chart</span>
      <span>Relatórios</span>
    </div>
  </a>
</div>