<paper (headerLeftClick)="goToHome()" leftTitle="Voltar" leftMaterialIcon="arrow_back" centerTitle="Usuários"
  centerMaterialIcon="people_outline">

  <confirm [isShow]="isShowConfirmDelete" [cancelTitle]="'Cancelar'" [confirmTitle]="'Confirmar'"
    (onConfirm)="deleteUserSelected()" (onCancel)="toggleIsShowConfirmDelete()"></confirm>

  <div class="header-list">
    <div class="search">
      <input [(ngModel)]="list.searchInput" id="searchInput" name="searchInput" type="text" class="search-input"
        placeholder="Nome, e-mail do usuário..." (keyup.enter)="searchByInputQuery()">
      <button class="search-button" (click)="findAllUsers()">
        <span class="material-icons">search</span>
        <span>Procurar</span>
      </button>
    </div>
    <button class="button-add" (click)="goToUserForm()">
      <span class="material-icons">add</span>
      <span>Adicionar</span>
    </button>
  </div>

  <div class="messages">
    <ul *ngIf="list.messages.errors.length > 0" class="alert error">
      <li *ngFor="let msg of list.messages.errors">{{ msg }}</li>
    </ul>
    <ul *ngIf="list.messages.info.length > 0" class="alert info">
      <li *ngFor="let msg of list.messages.info">{{ msg }}</li>
    </ul>
  </div>

  <div *ngIf="list.isLoading" class="is-loading">
    <span>Carregando os produtos. Aguarde...</span>
  </div>

  <table *ngIf="!list.isLoading">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome completo</th>
        <th>E-mail</th>
        <th>Funções de acesso</th>
        <th>Criado em</th>
        <th>Atualizado em</th>
        <th>Desabilitado em</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of list.data.content">
        <td>{{ user.id }} </td>
        <td>{{ user.fullName }} </td>
        <td>{{ user.email }} </td>
        <td>{{ getRolesNames(user) }} </td>
        <td>{{ user.createdAt | date }} </td>
        <td>{{ user.updatedAt ? (user.updatedAt | date) : '-' }} </td>
        <td>{{ user.disabledAt ? (user.disabledAt | date) : '-' }} </td>
        <td>
          <div class="action-buttons">
            <button (click)="goToUpdateUser(user.id)">
              <span class="material-icons">edit</span>
            </button>
            <button (click)="openModalToDelete(user)">
              <span class="material-icons">delete</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ul *ngIf="showPages()" class="pagination">
    <li (click)="previousPage()">
      <button class="previous" [disabled]="list.data.page === 0">
        <span class="material-icons">skip_previous</span>
        <span>Anterior</span>
      </button>
    </li>
    <li class="pages" *ngFor="let index of getPageCountItems()" (click)="goPage(index)" [ngClass]="{
        'pagination-actual-style': isActualPage(index)
       }">
      {{ index + 1 }}
    </li>
    <li (click)="nextPage()">
      <button class="next" [disabled]="list.data.page === list.data.totalPages - 1">
        <span>Próximo</span>
        <span class="material-icons">skip_next</span>
      </button>
    </li>
  </ul>
</paper>