<paper (headerLeftClick)="goToHome()" leftTitle="Voltar" leftMaterialIcon="arrow_back" centerTitle="Comandas abertas"
  centerMaterialIcon="format_list_numbered">

  <div class="header-list">
    <div class="search">
      <input [(ngModel)]="list.filters.searchInput" id="searchInput" name="searchInput" type="text" class="search-input"
        placeholder="Nome do cliente ou Mesa..." (keyup.enter)="findAllCommandsInitital()">
      <button class="search-button" (click)="findAllCommandsInitital()">
        <span class="material-icons">search</span>
        <span>Procurar</span>
      </button>
      <button class="button-add" (click)="goToCommandForm()">
        <span class="material-icons">add</span>
        <span>Adicionar</span>
      </button>
    </div>
    <div class="filters">
      <select id="openedCloseCommand" name="openedCloseCommand" #openedCloseCommand="ngModel"
        [(ngModel)]="list.filters.state">
        <option *ngFor="let openedCloseCommand of list.states" value="{{openedCloseCommand.key}}">
          {{openedCloseCommand.value}}</option>
      </select>

      <input type="datetime-local" [(ngModel)]="list.filters.minDate">
      <input type="datetime-local" [(ngModel)]="list.filters.maxDate">
    </div>
  </div>

  <div class="messages" *ngIf="list.messages.errors.length > 0 || list.messages.info.length > 0">
    <ul *ngIf="list.messages.errors.length > 0" class="alert error">
      <li *ngFor="let msg of list.messages.errors">{{ msg }}</li>
    </ul>
    <ul *ngIf="list.messages.info.length > 0" class="alert info">
      <li *ngFor="let msg of list.messages.info">{{ msg }}</li>
    </ul>
  </div>

  <div *ngIf="list.isLoading" class="is-loading">
    <span>Carregando os produtos. Aguarde...</span>
  </div>

  <table *ngIf="!list.isLoading">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome do cliente</th>
        <th>Mesa</th>
        <th>Aberta em</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let command of list.data.content">
        <td>{{ command.id }} </td>
        <td>{{ command.clientName || '-' }} </td>
        <td>{{ command.diningTable.name }} </td>
        <td>{{ command.openedAt | date }} </td>
        <td>
          <div class="action-buttons">
            <button (click)="goToCloseCommand(command.id)">
              <span class="material-icons">playlist_add_check</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ul *ngIf="showPages()" class="pagination">
    <li (click)="previousPage()">
      <button class="previous" [disabled]="list.data.page === 0">
        <span class="material-icons">skip_previous</span>
        <span>Anterior</span>
      </button>
    </li>
    <li class="pages" *ngFor="let index of getPageCountItems()" (click)="goPage(index)" [ngClass]="{
        'pagination-actual-style': isActualPage(index)
       }">
      {{ index + 1 }}
    </li>
    <li (click)="nextPage()">
      <button class="next" [disabled]="list.data.page === list.data.totalPages - 1">
        <span>Próximo</span>
        <span class="material-icons">skip_next</span>
      </button>
    </li>
  </ul>
</paper>