<div class="options">
  <a routerLink="/command-form">
    <div class="options-item">
      <i class="bi bi-file-arrow-up"></i>
      <span>Abrir comanda</span>
    </div>
  </a>
  <a routerLink="/command-list">
    <div class="options-item">
      <i class="bi bi-list-ol"></i>
      <span>Comandas abertas</span>
    </div>
  </a>
  <a>
    <div class="options-item">
      <i class="bi bi-file-earmark-arrow-down"></i>
      <span>Fechar comanda</span>
    </div>
  </a>
  <a>
    <div class="options-item">
      <i class="bi bi-file-earmark-bar-graph"></i>
      <span>Relatórios</span>
    </div>
  </a>
</div>