@import '../../../styles.scss';


.screen {
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 2rem;
  width: 500px;
  margin-top: 2rem;

  background-color: $cream;
  padding: 2rem 4rem;
  border-radius: 8px;

  &-title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
  }

}

form {
  align-items: center;

  .form-group .profileImageUrl {
    margin-bottom: 2rem;
    align-self: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}