@import '../../../styles.scss';

:host {
  // adiciona width no paper, que é host
  width: 675px !important;
}

form {
  align-items: center;

  .form-group {
    .profileImageUrl {
      margin-bottom: 2rem;
      align-self: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .submit-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      gap: 0.5rem;
      font-size: 1.3rem;
    }

    .material-icons {
      font-size: 1.6rem;
    }
  }
}